.view-common {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 199px;
  background-color: rgba(234, 229, 244, 1);
  border-radius: 16px;
}
.number-common {
  align-self: flex-end;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
}
.score-common {
  align-self: flex-end;
  overflow: hidden;
  max-width: 179px;
  font-size: 36px;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mod {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1440px;
  height: 727px;
  padding: 76px 12px 81px;
  background-color: rgba(255, 255, 255, 1);
  font-family: Roboto Mono;
}
.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 1280px;
}
.sleeping-dashboard {
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 40px;
  color: rgba(98, 73, 154, 0.8);
  text-align: left;
  white-space: nowrap;
}
.mask {
  align-self: flex-end;
  width: 225px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}
.body {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 1280px;
  margin-top: 72px;
}
.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  width: 250px;
  height: 428px;
}
.view {
  padding: 9px 10px 14px;
}
.number {
  max-width: 179px;
  font-size: 36px;
  color: rgba(98, 73, 154, 0.8);
  white-space: nowrap;
}
.info {
  width: 117px;
  height: 40px;
  font-size: 13px;
  color: rgba(98, 73, 154, 0.8);
  white-space: break-spaces;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
}
.num {
  max-width: 179px;
  margin-top: 28px;
  font-size: 48px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}
.view-1 {
  padding: 11px 10px 14px;
  margin-top: 30px;
}
.score {
  color: rgba(98, 73, 154, 0.8);
}
.num-1 {
  margin-top: 66px;
  font-weight: 700;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.8);
}
.overlayer {
  align-self: left;
  width: 900px;
  height: 428px;
  background-color: rgba(234, 229, 245, 1);
  border-radius: 16px;
}
.overlayer2 {
  display: block; /* 确保该元素在页面上是块级元素 */
  width: 900px;
  height: 428px;
  background-color: rgba(234, 229, 245, 1);
  border-radius: 16px;
  margin-left: 250px; /* 设置与左侧的留白，可以调整这个值 */
}